# SET DEFAULT BEHAVIOR
* text=auto

# NORMALIZE TEXT FILES
*.php text
*.css text
*.js text
*.htm text
*.html text
*.cfm text
*.cfml text
*.xml text
*.txt text
*.ini text
*.inc text
*.haml text
*.jade text
web.config text
.htaccess text

# BINARY FILES SHOULD BE LEFT UNTOUCHED - MAKE NO MODIFICATION INSTRUCTION
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.psd binary
*.ai binary
