//- For most cases in web design, it is best practices to download framework components and link to them locally.  For quick prototypes, this CDN is provided as a default setup
// STYLES - BOOTSTRAP - CDN
link(rel="stylesheet prefetch", media="all", type="text/css", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
link(rel="stylesheet prefetch", media="all", type="text/css", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")