//- ICONS - FAVICONS
- var favicon_path = '/media/images/favicons/';

// ICONS - IOS APPLE DEFAULT ICONS
+favicons_apple(favicon_path, 57, 60, 72, 76, 114, 120, 144, 152, 180)

// ICONS - BASIC FAVICONS
+favicons(favicon_path, 32, 96, 16)

// ICONS - CHROME ANDROID ICONS
+favicons_android(favicon_path, 192)

// ICONS - INTERNET EXPLORER TILES
+favicons_ie(favicon_path)
