//- For most cases in web design, it is best practices to download components and link to them locally.  For quick prototypes, this CDN is provided as a default setup
// SCRIPTS - VELOCITY - CDN
script(type="text/javascript", charset="utf-8", src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js")
script(type="text/javascript", charset="utf-8", src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js")