//- Specific instructions for Apple Mobile Devices
// META - MOBILE - APPLE - ALLOW FULL SCREEN CAPABILITY
meta(name="apple-mobile-web-app-capable", content="yes")
// META - MOBILE - APPLE - FAUX APPLICATION LOOK
meta(name="apple-mobile-web-app-status-bar-style", content="black")
// META - MOBILE - APPLE - DISABLE TELEPHONE LINKS WHEN CLICKED
meta(name="format-detection", content="telephone=no")