//- ICONS - FAVICONS

- var favicon_path = 'media/images/favicons/';
- var icon_path	= 'media/images/icons/shortcut/';

// ICONS - INTERNET EXPLORER TILES
+favicons_ie(icon_path, 310, 150, 70)

// ICONS - BASIC FAVICONS
+favicons(favicon_path, 32, 16)

// ICONS - CHROME ANDROID ICONS
+favicons_android(icon_path, 196, 192, 160, 96, 32, 16)

// ICONS - IOS APPLE DEFAULT ICONS
+favicons_apple(icon_path, 180, 152, 144, 128, 120, 114, 76, 72, 60, 57)