//- HTML5 document best practices to always have document character set and content type as far to the top of the document as possible; which is just above the title element.
// META - CONTENT TYPE
meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
// META - CHARACTER SET
meta(charset="UTF-8")