//- For most cases in web design, it is best practices to download components and link to them locally.  For quick prototypes, this CDN is provided as a default setup
// SCRIPTS - BOOTSTRAP - CDN
script(type="text/javascript", charset="utf-8", src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")