//- Configure Google Analytics and then enable this script in frame.html5.document.jade
// SCRIPTS - TRACKING - GOOGLE ANALYTICS
script(type="text/javascript", charset="utf-8", src="./js/tracking/google.analytics.js")