//- For most cases in web design, it is best practices to import font icons locally and link to them.  For quick prototypes, this CDN is provided as a default setup
// FONTS - ICONS - FONT AWESOME - CDN
link(rel="stylesheet prefetch", media="all", type="text/css", href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")