//- For most cases in web design, it is best practices to download components and link to them locally.  For quick prototypes, this CDN is provided as a default setup
// SCRIPTS - KNOCKOUT - CDN
script(type="text/javascript", charset="utf-8", src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js")