//- HTML5 document best practices to always have document character set and content type as far to the top of the document as possible; which is just above the title element.
// META - CHARACTER SET
meta(charset="utf-8")
// META - CONTENT TYPE
meta(http-equiv="content-type", content="text/html; charset=utf-8")