//- Font listings below are an overkill on what is needed for any website.  The purpose of including them all here is to copy and paste just the fonts needed into the core template index.jade
// FONTS - GOOGLE 
// FONTS - VARIOUS COMBINED
link(href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700%7CLato:100,300,400,700%7CSource+Code+Pro:200,300,400,500,600,700%7COpen+Sans:300,400,600,700", rel="stylesheet prefetch", type="text/css", media="all")
// FONTS - SOURCE SANS PRO
link( href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900", rel="stylesheet prefetch", media="all", type="text/css")
// FONTS - SOURCE CODE PRO
link(href="http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600,700", rel="stylesheet prefetch", media="all", type="text/css")
// FONTS - OPEN SANS
link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700", rel="stylesheet prefetch", media="all", type="text/css")
// FONTS - ARIMO
link(href="http://fonts.googleapis.com/css?family=Arimo:400,700", rel="stylesheet prefetch", type="text/css", media="all")
// FONTS - RALEWAY
link(href="http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700", rel="stylesheet prefetch", media="all", type="text/css")
// FONTS - ROBOTO
link(href="http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700", rel="stylesheet prefetch", media="all", type="text/css")
// FONTS - VARELA ROUND
link(href="http://fonts.googleapis.com/css?family=Varela+Round", rel="stylesheet prefetch", media="all", type="text/css")
// FONTS - VARELA
link(href="http://fonts.googleapis.com/css?family=Varela", rel="stylesheet prefetch", media="all", type="text/css")
// FONTS - UBUNTU
link(href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700", rel="stylesheet prefetch", media="all", type="text/css")
// FONTS - EXO
link(href="http://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800", rel="stylesheet prefetch", media="all", type="text/css")
// FONTS - HIND
link(href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700", rel="stylesheet prefetch", media="all", type="text/css")
// FONTS - LATO
link(href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900", rel="stylesheet prefetch", media="all", type="text/css")
// FONTS - OXYGEN
link(href="http://fonts.googleapis.com/css?family=Oxygen:400,300,700", rel="stylesheet prefetch", type="text/css", media="all")