//- Design requirements encompass responsiveness to variety of viewport dimensions, this sets up the initial viewport settings on devices.
// META - MOBILE - ALL - NORMALIZE INITIAL VIEW 
meta(name="viewport", content="width=device-width,height=device-height,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
// META - MOBILE - LEGACY DEVICE COMPATIBILITY
meta(name="HandheldFriendly", content="true")
meta(name="MobileOptimized", content="0")