//- For most cases in web design, it is best practices to download components and link to them locally.  For quick prototypes, this CDN is provided as a default setup
// SCRIPTS - JQUERY - CDN
script(type="text/javascript", charset="utf-8", src="http://code.jquery.com/jquery-2.1.4.min.js")