# ----------------------------------------------------------------------
# | SETUP DIRECTORY & DOCUMENT DEFAULTS                                |
# ----------------------------------------------------------------------

<ifModule mod_dir.c>
	DirectorySlash Off
	DirectoryIndex index.html index.htm index.cfm index.cfml toc.html
</ifModule>

# ----------------------------------------------------------------------
# | ERROR DOCUMENTS                                                    |
# ----------------------------------------------------------------------

ErrorDocument 400 /templates/http.error/status.400.html
ErrorDocument 401 /templates/http.error/status.401.html
ErrorDocument 403 /templates/http.error/status.403.html
ErrorDocument 404 /templates/http.error/status.404.html
ErrorDocument 500 /templates/http.error/status.500.html
ErrorDocument 503 /templates/http.error/status.503.html
ErrorDocument 505 /templates/http.error/status.505.html

# ----------------------------------------------------------------------
# | ALLOW SYMBOLIC LINKS TO FILE SERVERS                               |
# ----------------------------------------------------------------------

<ifModule mod_dir.c>
	Options FollowSymLinks
	Options SymLinksIfOwnerMatch
</ifModule>

# ----------------------------------------------------------------------
# | DISBALE FILE CACHING                                               |
# ----------------------------------------------------------------------

<filesMatch ".(html|htm|js|css|jpg|png|json|php|cfm|cfml|svg|gif|pdf)$">
	FileETag None
	<ifModule mod_headers.c>
		Header unset ETag
		Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
		Header set Pragma "no-cache"
		Header set Expires "Wed, 08 Jan 1975 05:00:00 GMT"
		Header set Access-Control-Allow-Origin "*"
		Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
	</ifModule>
</filesMatch>

# ----------------------------------------------------------------------
# | REDIRECT FAVICON REQUESTS                                          |
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteRule ^/favicon\.ico$ /media/images/favicons/favicon.ico
</IfModule>