<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <!-- META - CHARACTER SET-->
    <meta charset="utf-8">
    <!-- META - CONTENT TYPE-->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>HTTP ERROR - 500</title>
    <!-- META - MOBILE - ALL - NORMALIZE INITIAL VIEW -->
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <!-- META - MOBILE - LEGACY DEVICE COMPATIBILITY-->
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="0">
    <!-- META - MOBILE - APPLE - ALLOW FULL SCREEN CAPABILITY-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- META - MOBILE - APPLE - FAUX APPLICATION LOOK-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- META - MOBILE - APPLE - DISABLE TELEPHONE LINKS WHEN CLICKED-->
    <meta name="format-detection" content="telephone=no">
    <!-- DYNAMICALLY GENERATE STYLESHEET REFERENCE-->
    <script type="text/javascript">
      var href = window.location.protocol + '//' + window.location.hostname + (window.location.port ? ':' + window.location.port + '/' : '/'),
      	link = document.createElement('link');
      
      	link.type = 'text/css';
      	link.rel = 'stylesheet';
      	link.media = 'all';
      	link.title = 'HTTP Error Page Stylesheet';
      	link.href = href + 'css/application.http.error.styles.css';
      
      	document.getElementsByTagName('head')[0].appendChild(link);
    </script>
    <!-- FONTS - ICONS-FAVICONS-->
    <!-- FONTAWESOME IS INCLUDED IN THE APPLICATION.STYLES STYLESHEET-->
    <!-- FONTS - LATO-->
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet" media="all" type="text/css">
  </head>
  <body>
    <!-- WRAPPER - APPLICATION / PAGE-->
    <div class="wrapper-application">
      <div class="wrapper-application-content">
        <div class="wrapper-component">
          <div class="content-box center-responsive">
            <div class="icon"> <i class="fa fa-server"></i></div>
            <div class="status">Error Code: 500</div>
            <p class="message">The server encountered an unexpected condition which prevented it from fulfilling the request.</p>
            <footer></footer>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var href = window.location.protocol + '//' + window.location.hostname + (window.location.port ? ':' + window.location.port + '/' : '/'),
      	anchor = document.createElement('a');
      
      	anchor.type = 'text/html';
      	anchor.rel = 'nofollow';
      	anchor.hreflang = 'en';
      	anchor.className = 'btn';
      	anchor.href = href + '';
      	anchor.title = 'Return to Application Root';
      	anchor.text = 'Return to Main Page';
      	anchor.role = 'button';
      
      	document.getElementsByTagName('footer')[0].appendChild(anchor);
    </script>
  </body>
</html>